@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 3em;
  text-align: center;
  height: 100px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.neon {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 20px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}
.neon:hover {
  background: #03e9f4;
  color: #6e9639;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.neon:nth-child(1) {
  filter: hue-rotate(270deg);
}
.neon:nth-child(2) {
  filter: hue-rotate(110deg);
}
.neon span {
  position: absolute;
  display: block;
}
.neon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.toggle {
  display: none;
}

.object-pdf object {
  align-items: center;
  width: 50%;
  height: 50%;
}

.cloth {
  margin-right: -20rem;
}
.cloth p {
  color: rgb(255, 255, 255);
  font-size: 10px;
  color: mediumspringgreen;
  font-weight: bold;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#c {
  display: block;
  margin: 20px auto 0;
}

.center {
  text-align: center;
}
#net {
  text-align: center;
  white-space: nowrap;
  font-size: 19px;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  display: block;
  color: #888;
}
#net > span {
  color: #3377ee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
#close {
  float: right;
  margin: 10px;
}

/*********************************Nav*****************************************/

.alert-nav {
  display: flex;
  z-index: 1;
  width: 100%;
  top: 7%;
  position: fixed;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 05);
  z-index: 1;
}
.clock {
  position: relative;
  top: 20%;
  left: 35%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 20px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

/************************************main***************************************/

.animations {
  float: right;
  position: absolute;
  margin-left: 50rem;
  margin-top: 10rem;
}

#animated {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  background-color: #edf1fd;
  position: relative;
  display: block;
  border-radius: 15px;
  transition: top 0.3s;
  /*background-image: url(./images/TSQPng.png);*/

  /*
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;*/
}
.btn-small {
  bottom: 0%;
  right: 0;
  left: 0;
  top: 0;
  color: #292929;
}
/*.btn-primary{
  box-shadow: 5px 10px #0e977c;
}
*/
#quotes {
  background-color: #00362d77;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding-right: 60px;
  padding-left: 15px;
  margin-top: -5rem;
  left: -5%;
  z-index: 1;
  align-items: center;
  opacity: 0.1;
  /*
  text-align: center;
  position: absolute;
  background-color: #2b2b2b;
  opacity: 0.6;
  border-radius: 15px;
  float: left;
  display: flex;
  left: -10%;
  top: -90px;
  z-index: 5;
  align-items: center;*/
}

#quote {
  font-weight: 600;
  font-size-adjust: 0.58;
  display: flex;
  justify-content: center;
  position: relative;
  color: rgb(0, 13, 85);
  font-family: "Courier";
  font-size: 20px;
  /*
  white-space: nowrap;*/
  overflow: hidden;
  width: auto;
  left: 5%;
  animation: type 5s ease infinite;
  z-index: 6;
}

@keyframes type {
  from {
    width: 500px;
    margin-left: 5%;
  }
}

.main-bg {
  display: flex;
  position: relative;
  float: right;
  width: 22%;
  height: 80vh;
  bottom: 0;
  right: 0;
  z-index: 0;

  /*background-image: url(./images/TSQPng.png);*/
}
.main-bg img {
  width: 90%;
  float: right;
  height: auto;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 25px 0px 0px 25px;
  box-shadow: 5px 0px 15px 15px lightblue;
  bottom: 0;
  z-index: 0;
}

.btn-degree {
  color: #0e977c;
  font-style: unset;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.btn-degree:hover {
  font-weight: 900;
  text-decoration: underline;
}

.btn-cmt {
  margin-left: -50px;
  margin-right: 40px;
  margin-top: 80px;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 13px;
  text-decoration: none;
  font-weight: 900;
}
.lang {
  color: #292929;
}
.logo img {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 3s;
  -ms-animation-name: fadein;
  -ms-animation-duration: 3s;
  -o-animation-name: fadein;
  -o-animation-duration: 3s;
  animation-name: fadein;
  animation-duration: 3s;
}

/* Set vendor-specific keyframes for animation on load 
     Position and opacity are animated */

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-ms-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.menu li a:hover,
.menu li a.active {
  background-color: #0a0521;
  color: #ffffff !important;
  box-shadow: 1px 0px 3px 3px lightblue;
  font-weight: 800;
  transition: all ease 0.4s;
  text-decoration: none;
}
/*
border-radius: 25px;

text-decoration: none;
background-color: #0e977c;
*/
.name {
  width: 600px;
  position: absolute;
  padding-right: 15px;
  margin-left: 20rem;
  margin-top: 20rem;
  transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details {
  color: #0c0e0d;
  font-size: 18px;
  padding-right: 70px;
  font-family: Garamond, serif;
}
.name h1 {
  font-family: poppins;
  font-size: 50px;
  margin: 0px;
  letter-spacing: 3px;
  color: #292929;
}
.cv-btn {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  height: 45px;
  border-radius: 25px;
  box-shadow: 2px 0px 5px 5px lightblue;
  text-decoration: none;
  background-color: #0e977c;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.cv-btn:hover {
  background-color: #1f57ff;
  transition: all ease 0.5s;
  font-weight: 900;
  text-decoration: underline;
  color: #131313;
  transform: translateY(10px);
  transition: all ease 0.3s;
}
.social {
  float: left;
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}
.social a {
  margin: 6px 12px;
}
.social i {
  color: rgba(18, 17, 17, 0.4);
  font-size: 14px;
}
.social a:hover i {
  color: #17d1ac;
  transition: all ease 0.5;
  width: 25px;
}
.arrow {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  left: -3%;
  border-right: 1px solid rgba(41, 41, 41, 0.3);
}
.arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0px 11px;
  border-color: #292929 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

/********************************************************ContactBTN*********************************************/

#contact-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f4f7ff;
  margin: 20px 0px;
  border-radius: 25px;
  box-shadow: 2px 0px 5px 5px lightblue;
  text-decoration: none;
  box-shadow: 40px rgba(0, 0, 0, 0.4);
}
.list-business {
  color: #808080;
  position: absolute;
  left: 20%;
  float: left;
  list-style-type: circle;
}
.list-plans {
  position: absolute;
  left: 30%;
  float: left;
  color: #808080;
  list-style-type: circle;
}
.list-organization {
  position: absolute;
  right: 20%;
  float: right;
  color: #808080;
  list-style-type: circle;
}
.list-sm {
  position: absolute;
  right: 30%;
  float: right;
  color: #808080;
  list-style-type: circle;
}

#contact-btn h1 {
  font-size: 2rem;
  color: #1e1e1e;
  font-family: "Times New Roman";
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid #1e1e1e;
}
#contact-btn a {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Times New Roman";
  width: 150px;
  height: 40px;
  margin: 10px;
  background-color: #0d6efd;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 0px 5px 5px lightblue;
  text-decoration: none;
}
#contact-btn a:hover {
  background-color: #17d1ac;
  color: #ffffff;
  transition: all ease 0.5s;
  font-weight: 700;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  text-decoration: underline;
}

/**********************************************About**************************************************/

#about {
  width: 100%;
  height: 60vh;
  background-color: #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  border-radius: 30px;
}
.about-model img {
  border-radius: 15px;
  box-shadow: 5px 0px 5px 5px rgb(17, 53, 65);
}
.about-text {
  font-family: "Times New Roman";
  width: 50%;
}
.about-text h1 {
  font-size: 5rem;
  color: #08705b;
}
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}
.about-text h1,
h2 {
  margin: 0px;
  padding: 0px;
}
.about-text p {
  font-size: 1.2rem;
  color: rgba(251, 251, 251, 0.9);
}
.about-text button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
  font-weight: 600;
}
.about-text button:hover {
  background-color: #0d6efd;
  transition: all ease 0.3s;
}

.line-bar {
  margin-top: 5px;
  border-bottom: 2px solid #1e1e1e;
  margin-bottom: 5px;
}

/****************************************Services*********************************************/

#services {
  border-radius: 30px;
  background-color: #202829;
  width: 100%;
  height: 60vh;
  font-family: "Times New Roman";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.s-heading h1 {
  color: #17d1ac;
  font-weight: bold;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.s-heading p {
  color: #fff;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 20px 0px;
}
.s-box {
  background-color: #2b2b2b;
  width: 450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}
.s-b-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-b-img {
  width: 100%;
  height: 70%;
}
.s-b-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.s-b-text {
  width: 100%;
  height: 30%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-b-text a {
  margin: 0px;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: "Times New Roman";
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.s-type {
  font-family: "Times New Roman";
  color: #ffffff;
  background-color: #151515;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.s-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
.s-b-text a:hover {
  color: rgba(255, 255, 255, 0.5);
}

/***************************************************Contact-Form start******************************/
.blink,
#contact-btn h1 {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#contact-form {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf1fd;
}
#contact-form form {
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: #1a1a1a;
  box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0, 0.01);
  box-shadow: 10px 5px 15px 10px #a0540e;
}
#contact-form form:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
#contact-form h1 {
  font-size: 2 rem;
  color: #1e1e1e;
  font-family: "Times New Roman";
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid #1e1e1e;
  text-align: center;
}
#contact-form h6 {
  text-align: center;
}
.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.c-l-heading {
  font-family: "Times New Roman";
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.f-email,
.f-name {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
}

.f-email label,
.f-name label {
  color: #bfbfbf;
  font-size: 22px;
}
.f-email input,
.f-name input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #fff;
  margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.5;
  letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #17d1ac;
  transition: all ease 0.5s;
}
.message label {
  font-size: 18px;
  color: #4e4e4e;
  font-family: "Times New Roman";
}
.message {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.contact-right textarea {
  width: 100% !important;
  height: 320px !important;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #ebebeb;
  font-size: 16px;
}
.contact-right textarea::placeholder {
  color: #ebebeb;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Times New Roman";
}
.contact-right button {
  width: 100%;
  height: 50px;
  background-color: #1ed98b;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0px;
  color: #1b1b1b;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/**************************************************************footer**********************************/
ul.b {
  list-style-type: square;
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 350px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */

@media (max-width: 2000px) {
  .animations {
    right: 5px;
  }
  .social {
    display: flex;
    flex-direction: column;
  }
  .console-container {
    font-size: 1.5em;
    height: 100px;
    width: 600px;
    position: absolute;
    padding-bottom: 25rem;
  }
  .console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
  }

  .name {
    width: 700px;
    margin-left: 14rem;
    top: 8rem;
  }
  .name h1 {
    font-family: poppins;
    font-size: 25px;
    margin-left: 25px;
  }
  .name .details {
    font-size: 17px;
    margin-left: 25px;
  }
  .about-text h1 {
    font-size: 1.6rem;
  }
  .about-text h2 {
    font-size: 1.2rem;
  }
  .about-text p {
    font-size: 2rem;
  }
  #contact-btn h1 {
    font-size: 2rem;
    text-align: center;
    color: #1e1e1e;
    font-family: "Times New Roman";
    margin: 15px;
    padding: 5px;
    letter-spacing: 1px;
  }
  .list-business {
    position: absolute;
    font-size: 10px;
    margin-left: auto;
    float: left;
    color: #808080;
    list-style-type: circle;
  }
  .list-plans {
    position: absolute;
    font-size: 10px;
    margin-left: auto;
    float: left;
    color: #808080;
    list-style-type: circle;
  }
  .list-organization {
    position: absolute;
    font-size: 10px;
    right: 320px;
    float: right;
    color: #808080;
    list-style-type: circle;
  }
  .list-sm {
    position: absolute;
    font-size: 10px;
    right: 180px;
    float: right;
    color: #808080;
    list-style-type: circle;
  }
  .cloth {
    margin-right: -15rem;
  }

  .about-model img {
    width: 300px;
  }
  #about {
    justify-content: center;
    margin-left: 2rem;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }
  .about-text h2 {
    font-size: 1.5rem;
  }
  .p-b-container {
    width: 100%;
  }
  .about-text p {
    width: 350px;
    font-size: 15px;
  }
}
@media (max-width: 1330px) {
  #main {
    background-size: 35%;
  }

  .clock {
    margin-left: 25px;
  }
  .animations {
    right: 50px;
  }
  #Non-blink {
    display: block !important;
  }
  .main-bg {
    width: 300px;
  }
  .name {
    width: 600px;
    padding-bottom: 33rem;
    margin-left: 10rem;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .console-container {
    font-size: 1.5em;
    height: 100px;
    width: 600px;
    position: absolute;
    padding-top: 55rem;
    padding-left: 10rem;
    z-index: 0;
  }
  #quotes {
    padding-top: -55rem;
    z-index: 1;
  }

  #contact-btn h1 {
    font-size: 2rem;
    text-align: center;
    color: #1e1e1e;
    font-family: "Times New Roman";
    margin: 15px;
    padding: 5px;
    letter-spacing: 1px;
  }
  .list-business {
    position: absolute;
    font-size: 10px;
    margin-left: auto;
    float: left;
    color: #808080;
    list-style-type: circle;
  }
  .list-plans {
    display: none !important;
  }
  .list-organization {
    display: none !important;
  }
  .list-sm {
    position: absolute;
    font-size: 10px;
    right: 180px;
    float: right;
    color: #808080;
    list-style-type: circle;
  }
  .cloth {
    margin-right: -15rem;
  }

  .about-model img {
    display: none;
  }
  #about {
    justify-content: center;
    margin-left: 2rem;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }
  .about-text h2 {
    font-size: 1.5rem;
  }
  .p-b-container {
    width: 100%;
  }
  .about-text p {
    width: 350px;
    font-size: 15px;
  }

  #services {
    height: auto;
  }
  .s-b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-text {
    text-align: center;
  }
  #contact-form form {
    width: 95% !important;
  }
}

/*******************************1055********************************************/
@media (max-width: 1055px) {
  .clock {
    margin-left: 25px;
  }
  .animations {
    right: 80px;
  }
  .main-bg {
    float: right;
    width: 300px;
    margin-top: 0;
  }
  .social {
    top: auto;
  }
  .cv-btn {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    box-shadow: 2px 0px 5px 5px lightblue;
    text-decoration: none;
    background-color: #0e977c;
    margin-bottom: 120px;
    margin-left: 20px;
  }
  .cv-btn:hover {
    background-color: #0e977c;
    transition: all ease 0.5s;
    font-weight: bolder;
    color: #292929;
  }
  #contact-btn h1 {
    font-size: 1rem;
    text-align: center;
    color: #1e1e1e;
    font-family: "Times New Roman";
    margin: 15px;
    padding: 5px;
    letter-spacing: 1px;
  }
  .list-business {
    position: absolute;
    font-size: 10px;
    margin-left: auto;
    float: left;
    color: #808080;
    list-style-type: circle;
  }
  .list-plans {
    display: none !important;
  }
  .list-organization {
    display: none !important;
  }
  .list-sm {
    position: absolute;
    font-size: 10px;
    right: 180px;
    float: right;
    color: #808080;
    list-style-type: circle;
  }
  .cloth {
    margin-right: -15rem;
  }

  .about-model img {
    display: none;
  }
  #about {
    justify-content: center;
    margin-left: 2rem;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }
  .about-text h2 {
    font-size: 1.5rem;
  }
  .p-b-container {
    width: 100%;
  }
  .about-text p {
    width: 350px;
    font-size: 15px;
  }
  .social_footer_ul {
    display: table;
    margin: 5px auto 0 auto;
    list-style-type: none;
  }
  .social_footer_ul li {
    padding-left: 5px;
    padding-top: 20px;
    float: left;
  }
}
/*************************950************************************/

/*
@media (max-width: 950px) {
  #main {
    /*background-image: none !important;*/

/*
    background-size: 25%;
    border-radius: 15px;
  }
  #Non-blink {
    display: block !important;
  }
  .main-bg {
    width: 225px;
    margin-top: 0px;
  }
  .about-model img {
    width: 400px;
  }
  .name {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    background-size: 35%;
    border-radius: 15px;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }
  .p-b-container {
    width: 100%;
  }
}
*/
/************************************************900px*********************************************************/

@media (max-width: 900px) {
  body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  #quotes {
    margin-top: 10rem;
  }
  .line-bar {
    margin-top: 40px;
    border-bottom: 2px solid #1e1e1e;
    margin-bottom: 40px;
  }
  .cloth {
    display: none !important;
  }

  /*  .cloth p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin-left: 12rem;
    padding-top: 2rem;
    color: mediumspringgreen;
    font-weight: bold;
  }
*/
  .animations {
    float: right;
    position: absolute;
    margin-left: 12rem;
    margin-top: 5rem;
  }

  #animated {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .toggle {
    display: block;
  }

  .btn-small small {
    font-size: 8px;
  }
  .btn-small button {
    font-size: 10px;
  }

  #Non-blink {
    display: block;
  }

  .toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -35 px;
  }

  .cv-btn {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    box-shadow: 2px 0px 5px 5px lightblue;
    text-decoration: none;
    background-color: #0e977c;
    margin-bottom: 120px;
  }
  .cv-btn:hover {
    background-color: #0e977c;
    transition: all ease 0.5s;
    font-weight: bolder;
    color: #292929;
  }
  .main-bg {
    width: 200px;
    margin-top: 0px;
  }
  .toggle.active:before {
    content: "\f00d";
  }
  nav {
    padding: 10px 30px;
  }
  .about-model {
    display: none;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    border: 3px solid#1f1f1f;
    display: none !important;
    margin: 0px;
    padding: 0px;
  }
  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  .name {
    width: 600px;
    left: -20px;
    padding-right: 5rem;
  }
  .name h1 {
    font-family: poppins;
    font-size: 18px;
  }
  .name .details {
    font-size: 14px;
  }
  .about-text h1 {
    font-size: 1.6rem;
  }
  .about-text h2 {
    font-size: 1.2rem;
  }
  .about-text p {
    font-size: 0.9rem;
  }
  .active-menu {
    display: block !important;
  }
  .arrow {
    display: none;
  }
  .p-b-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
    grid-gap: 10px;
  }

  #contact-btn p {
    margin-top: 25px;
    font-size: 10px;
    text-align: center;
  }
  #contact-btn h1 {
    font-size: 0.5rem;
    text-align: center;
    color: #1e1e1e;
    font-family: "Times New Roman";
    margin: 15px;
    padding: 5px;
    letter-spacing: 1px;
  }

  .list-business {
    position: absolute;
    font-size: 10px;
    left: 5px;
    float: left;
    color: #808080;
    list-style-type: circle;
  }
  .list-plans {
    display: none !important;
  }
  .list-organization {
    display: none !important;
  }
  .list-sm {
    position: absolute;
    font-size: 10px;
    right: 5px;
    float: right;
    color: #808080;
    list-style-type: circle;
  }

  #contact-btn a {
    font-size: 12px;
    font-family: "Times New Roman";
    width: 100px;
    height: 35px;
    margin: 10px;
    text-decoration: none;
    margin-bottom: 2rem;
    padding-bottom: 8px;
  }

  #contact-form {
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  #contact-form form {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 100% !important;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    border: none;
  }
  .f-email,
  .f-name {
    width: 100%;
  }
  .f-email input,
  .f-name input {
    width: 100%;
  }
  textarea {
    margin: 10px 0px;
    padding: 10px;
    height: 50px !important;
    width: 100% !important;
  }
  .message {
    margin: 0px;
  }
  #contact-form form h1 {
    margin: 5px 0px;
  }

  .btn-Support {
    margin-top: -18rem;
    margin-bottom: -10rem;
  }
  #f-links {
    margin-top: 2rem;
    margin-right: 5rem;
  }
  .social_footer_ul li {
    display: inline-block;
  }
  .social_footer_ul li i {
    width: 25px;
    height: auto;
  }
}
/*******************800************************/
@media (max-width: 800px) {
  .arrow {
    display: none;
  }
  .social {
    margin-left: 25px;
  }
  .name {
    width: 600px;
    left: 2rem;
    top:23rem;
  }
  .name h1 {
    font-family: poppins;
    font-size: 18px;
  }
  .name .details {
    font-size: 16px;
  }
  .about-text button {
    display: none !important;
  }
  .main-bg {
    width: 20%;
  }
  .btn-cmt {
    margin-right: 130px;
  }
}
/**************************************/
@media (max-width: 716px) {
  .btn-cmt {
    margin-right: 130px;
  }
}
/**************************************/
@media (max-width: 600px) {
  .name {   
    padding-right: 9rem;
    margin-left: 5rem;
    padding-top: 8rem;
  }
  .animations {
    
    margin-left: 5rem;
    margin-top: 5rem;
}
  .p-b-container {
    grid-template-columns: 1fr;
  }
  #contact-btn h1 {
    font-size: 1.3rem;
    margin: 0px 10%;
  }

  .btn-cmt {
    margin-right: 28px;
  }
  .about-text {
    margin-right: 50%;
    font-size: 20%;
  }

  .arrow {
    align-self: end;
    width: 50%;
    height: 5%;
    margin-bottom: 1.5em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);
  }
  .social {
    align-self: end;
    position: absolute;
    margin-bottom: 1.5em;
    bottom: 0px;
    left: 30px;
    transform: translateX(-10px);
  }
}
/**************************************/
@media (max-width: 474px) {
  .btn-cmt {
    margin-right: 26px;
  }
  .about-text {
    margin-right: 55%;
  }

  .about-text h2 {
    font-size: 15px;
  }
}

@media (max-width: 424px) {
  .popUp {
    display: none;
  }
  #about {
    margin-left: 2px;
    margin-right: 2px;
  }
}
@media (max-width: 400px) {

  
  .console-container {
    font-size: 1rem;
    position: absolute;
    padding-top: 61rem;
    padding-right: 20rem;

  }
  .name  .details {
    margin-left: 0rem;
    padding-top: 0rem;
    font-size: 12px;
    padding-right: 9rem;
    padding-bottom: 15rem;
  }
  .cv-btn {
    position: absolute;
    bottom: 38rem;
    z-index: -1;
  }
  #quotes {
    margin-top: -1rem;
    top:7%;
    opacity: 0.1;
    margin-left: 3rem;
    right:21rem;
    bottom: auto;
  }
  #quote{
    padding-right: 0rem;
    font-size: 14px;
  }
  .line-bar {
    margin-top: 40px;
    border-bottom: 2px solid #1e1e1e;
    margin-bottom: 40px;
  }
  .cloth {
    display: none !important;
  }

  /*  .cloth p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin-left: 12rem;
    padding-top: 2rem;
    color: mediumspringgreen;
    font-weight: bold;
  }
*/
  .animations {
    float: right;
    position: absolute;
    margin-right: 18rem;
    margin-top: 11px;
  }

  #animated {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .popUp {
    display: none;
  }
  .lang {
    display: none;
  }

  .btn-small {
    bottom: 0;
    top: 0;
  }
  #quotes {
    top: -2%;
    opacity: 0.9;
  }
  .btn-cmt {
    margin-right: 28px;
  }

  .social {
    left: 5px;
    bottom: -8px;
  }

  .arrow {
    margin-bottom: 20px;
  }
  .s-box {
    width: 100%;
    height: 400px;
  }
  .about-text p {
    padding-right: 55px;
  }
}
@media (max-height: 800px) {
  

  
  #quotes {
    position: absolute;
    border-radius: 25px;
    padding-right: 60px;
    padding-left: 15px;
    padding-top: 5px;
    left: -10%;
    z-index: 5;
    align-items: center;
    opacity: 0.3;
  }

  #quote {
    font-weight: 200;
    position: relative;
    color: none;
    font-family: "Courier";
    font-size: 15px;
    bottom: 0px;
    /*
      white-space: nowrap;*/
    width: auto;
    left: 5%;
    animation: type 5s ease infinite;
    z-index: 5;
  }

  @keyframes type {
    from {
      width: 500px;
    }
  }
}
